html
{
  scroll-behavior: smooth;
  font-size: 62.5%;

}
body {
  background-color: black;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* **************************************   NAV   ********************************** */
.Navigation {
  position: relative;
  z-index: 10;
}
.logohead {
  margin-top: 3vh;
  margin-left: 3vh;
}

.Navig .navul {
  padding: 1.6rem;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-top: 4vh;
}

.navul {
  float: right;
}

.navigation .Navig .navul a:visited {
  list-style: none;
  text-decoration: none;
}

.navigation .Navig .navul .navli:visited {
  list-style: none;
  text-decoration: none;
}

.navli {
  color: #eee;
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  display: inline;
  padding: 2vh;
  cursor: pointer;
}

.navli:hover {
  color: #EE7D56;
}

.Navig .icon {
  display: none;
}

@media screen and (max-width: 600px)
{
  .Navigation .Navig .navul{
    display: none;
  }
}
/* @media screen and (max-width: 600px) {
  .Navig a:not(:first-child) {display: none;}
  .Navig a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .Navig {position: relative;}
  .Navig.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .Navig.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */


/* **************************************   Home   ********************************** */
.home {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.title {
  color: #eee;
  font-family: 'Poppins', sans-serif;
  padding: 0%;
  position: relative;
}


.title img {
  height:100%;
  transition-duration: 0.4s;

}
.title .title-text {
  position: absolute;
  top: 20vh;
  left: 45vw;
}

.title h1 {
  font-weight: 600;
  margin: 0px;
  font-size: 8rem;
}

.title h2 {
  font-weight: 300;
  font-size: 25rem;
  margin: 0px;
  width: 15vw;
}

.title h3 {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 0px;
}


.home .title .resme {
  min-width: fit-content;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  width: 26vh;
  height: 7vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.6rem;
  background-color: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  transition-duration: 0.4s;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.home .title .butt{
  padding-top: 2vh;
}
.home .title .resme:hover span {
  display: none;
}

.home .title .resme:hover:before {
  content: "Download";
}

.home .title .resme:hover {
  background-color: #e57049;
  color: white;
}


.home .title .title-text .flx{
  display: flex;
  background: none;
  overflow: hidden;
}
.home .title .title-text .anima{
  font-family: 'Poppins', sans-serif;
  width: 70vh;
  overflow: hidden;
}
.home .title .anima .text{
  position: relative;
  color: #EE7D56;
  font-size: 4vh;
  font-weight: 300;
  padding: 0.5vh;
}
.home .title .anima .text.first-text{
  color: #FFF;
}
.home .title .text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-left: 2px solid #EE7D56;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}

@media screen and (max-width: 1000px){
  .title img {
    opacity: 20%;
  }
  }

@media screen and (max-width: 800px){
  .title img {
  opacity: 10%;
  }
  .title .title-text .text1{
    width: 50%;
    height: 50%;
  }
  }

@media screen and (max-width: 600px){
  .home{
    text-align: center;
  }
  .title img {
  opacity: 10%;
  align-items: center;
  }
  .title .title-text .text1{
    text-align: center;
    width: 50%;
    height: 50%;
  }
  }

/* **************************************   About   ********************************** */
.aboutme {
  background-color: #101010;
  height: 100%;
  width: 90%;
  margin: 5%;
}

.aboutme .content-abtme .heading {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  font-size: 5rem;
  font-weight: 400;
  padding: 5vh;
  padding-bottom: 3vh;
}

.aboutme .content-abtme .cnt-abtme{
  display: inline-flex;
  margin-left: 5vh;
}

.aboutme .content-abtme .abtme img {
  width: 400px;
  margin-left: 15px;
}
.aboutme .content-abtme .abtme .abtme-text {
  margin-right: 50px;
  line-height: 30px;
}

.aboutme .content-abtme .abtme {
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: justify;
  display: flex;
}

.aboutme .content-abtme .bt{
  padding-left: 5vh;  

}
.aboutme .content-abtme .HireMebtn {
  width: 20vh;
  font-family: 'Poppins', sans-serif;
  background-color: #EE7D56;
  padding: 8px 16px;
  margin: 30px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.6rem;
  transition-duration: 0.4s;
  background-color: none;
  color: black;
  border: 2px solid #EE7D56;
  border-radius: 50px;
}

.aboutme .content-abtme .HireMebtn:hover {
  width: fit-content;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.aboutme .content-abtme .HireMebtn:hover span {
  display: none;
}

.aboutme .content-abtme .HireMebtn:hover:before {
  content: "Get Quote";
}

.aboutme .content-abtme .Contactbtn {
  width: fit-content;
  margin: 30px 10px;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.6rem;
  transition-duration: 0.4s;
  background-color: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
}


.aboutme .content-abtme .Contactbtn:hover {
  content: Get Quote;
  width: fit-content;
  background-color: white;
  color: black;
}

.aboutme .content-abtme .sign {
  margin-top: 5vh;
  margin-bottom: 5vh;
}


/* **************************************   Skills   ********************************** */

.skills {
  height: 90%;
  width: 90%;
  margin: 5%;
  background-image: url(../Assets/Home/skillsbg.png);
}
/* Heading */

.skills .cntnr-skill {
  margin: 0px 50px;
  display: inline-block;
}

.skills .content-skill .heading {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  font-size: 5rem;
  font-weight: 400;

}

.skills .content-skill .skill-div {
  display: flex;
}

.skills .content-skill .skill-cnct {
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: justify;
  width: 45%;
}

.skills .content-skill .cntnr-skill {
  display: inline;
  width: 55%;
}

.skills .content-skill .cntnr-skill .skillset {
  color: #eee;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  align-items: center;
}


.skills .content-skill .cntnr-skill .skillset img{
  padding-right: 3vh;
}


/* -----------------------------  Figma  ----------------------------- */
.fig .container {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: relative;
}

.fig .progress2 {
  border-radius: 30px;
  background-color: #fff;
}

.fig .progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.skills .skill-cnct {
  float: left;
}

.fig .progress-moved .progress-bar2 {
  background-color: #C7441E;
  animation: progress 2s infinite;
}

@keyframes progress {
  0% {
    width: 0%;
    background: #cb7d67;
  }

  100% {
    width: 100%;
    background: #C7441E;
    box-shadow: 0 0 40px #C7441E;
  }
}



.fig .loader {
  --p: 0;
  animation: p 2s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 45px;
  left: 280px;
  color: #C7441E;
}

.fig .loader:after {
  content: counter(p) "%";
}

@keyframes p {

  80%,
  100% {
    --p: 100;
  }
}
/* -----------------------------  Photoshop  ----------------------------- */

.ps .container {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: relative;
}

.ps .progress2 {
  border-radius: 30px;
  background-color: #fff;
}

.ps .progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.ps .progress-moved .progress-bar2 {
  background-color: #31A8FF;
  animation: psprogress 2s infinite;
}

@keyframes psprogress {
  0% {
    width: 0%;
    background: #7fcaff;
  }

  100% {
    width: 100%;
    background: #31A8FF;
    box-shadow: 0 0 40px #31A8FF;
  }
}



.ps .loader {
  --p: 0;
  animation: p 2s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 45px;
  left: 280px;
  color: #31A8FF;
}

.ps .loader:after {
  content: counter(p) "%";
}

@keyframes p {

  80%,
  100% {
    --p: 100;
  }
}

/* -----------------------------  AI  ----------------------------- */

.ai .container {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: relative;
}

.ai .progress2 {
  border-radius: 30px;
  background-color: #fff;
}

.ai .progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.ai .progress-moved .progress-bar2 {
  background-color: #FF9A00;
  animation: aiprogress 2s infinite;
}

@keyframes aiprogress {
  0% {
    width: 0%;
    background: #ffca7b;
  }

  100% {
    width: 100%;
    background: #FF9A00;
    box-shadow: 0 0 40px #FF9A00;
  }
}



.ai .loader {
  --p: 0;
  animation: p 2s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 45px;
  left: 280px;
  color: #FF9A00;
}

.ai .loader:after {
  content: counter(p) "%";
}

@keyframes p {

  80%,
  100% {
    --p: 100;
  }
}
/* -----------------------------  PP  ----------------------------- */

.pp .container {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
.pp .progress2 {
  border-radius: 30px;
  background-color: #fff;
}

.pp .progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.pp .progress-moved .progress-bar2 {
  background-color: #9999FF;
  animation: ppprogress 2s infinite;
}

@keyframes ppprogress {
  0% {
    width: 0%;
    background: #bdbdf0;
  }

  100% {
    width: 100%;
    background: #9999FF;
    box-shadow: 0 0 40px #9999FF;
  }
}



.pp .loader {
  --p: 0;
  animation: p 2s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 45px;
  left: 280px;
  color: #9999FF;
}

.pp .loader:after {
  content: counter(p) "%";
}

@keyframes p {

  80%,
  100% {
    --p: 100;
  }
}

/* -----------------------------  AE  ----------------------------- */

.ae .container {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: relative;
}

.ae .progress2 {
  border-radius: 30px;
  background-color: #fff;
}

.ae .progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.ae .progress-moved .progress-bar2 {
  background-color: #9999FF;
  animation: aeprogress 2s infinite;
}

@keyframes aeprogress {
  0% {
    width: 0%;
    background: #a3a3d6;
  }

  100% {
    width: 100%;
    background: #9999FF;
    box-shadow: 0 0 40px #9999FF;
  }
}



.ae .loader {
  --p: 0;
  animation: p 2s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 45px;
  left: 280px;
  color: #9999FF;
}

.ae .loader:after {
  content: counter(p) "%";
}

@keyframes p {

  80%,
  100% {
    --p: 100;
  }
}

/* -----------------------------  HTML  ----------------------------- */


.html .container {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: relative;
}

.html .progress2 {
  border-radius: 30px;
  background-color: #fff;
}

.html .progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.html .progress-moved .progress-bar2 {
  background-color: #2965F1;
  animation: htmlprogress 2s infinite;
}

@keyframes htmlprogress {
  0% {
    width: 0%;
    background: #789aea;
  }

  100% {
    width: 100%;
    background: #2965F1;
    box-shadow: 0 0 40px #2965F1;
  }
}



.html .loader {
  --p: 0;
  animation: p 2s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 45px;
  left: 280px;
  color: #2965F1;
}

.html .loader:after {
  content: counter(p) "%";
}

@keyframes p {

  80%,
  100% {
    --p: 100;
  }
}
/* -----------------------------  CSS  ----------------------------- */

.css .container {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: relative;
}

.css .progress2 {
  border-radius: 30px;
  background-color: #fff;
}

.css .progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.css .progress-moved .progress-bar2 {
  background-color: #C7441E;
  animation: cssprogress 2s infinite;
}

@keyframes cssprogress {
  0% {
    width: 0%;
    background: #cb7d67;
  }

  100% {
    width: 100%;
    background: #C7441E;
    box-shadow: 0 0 40px #C7441E;
  }
}



.css .loader {
  --p: 0;
  animation: p 2s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 45px;
  left: 280px;
  color: #C7441E;
}

.css .loader:after {
  content: counter(p) "%";
}

@keyframes p {

  80%,
  100% {
    --p: 100;
  }
}

/* **************************************   Portfolio   ********************************** */
.portfolio {
  height: 90%;
  width: 90%;
  margin: 5%;
  background-color: #101010;
}

.portfolio .content-prtfolio .heading {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  font-size: 50px;
  font-weight: 400;
}

.portfolio .hoz {
      display: flex;
    justify-content: space-between;
}

.portfolio .PG {
  position: relative;
  text-align: center;
  color: white;
  padding: 4%;
}

.portfolio .pgtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .pgtxt .titl {
  font-family: 'Poppins', sans-serif;
  color: #F6C668;
  font-size: 26px;
  font-weight: 300;
}

/* ________________________________________________ */
.portfolio .UX {
  position: relative;
  text-align: center;
  color: white;
  padding: 4%;
}

.portfolio .uxtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .uxtxt .titl {
  font-family: 'Poppins', sans-serif;
  color: #F6C668;
  font-size: 26px;
  font-weight: 300;
}

/* ________________________________________________ */
.portfolio .MG {
  position: relative;
  text-align: center;
  color: white;
  padding: 4%;
}

.portfolio .mgtxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .mgtxt .titl {
  font-family: 'Poppins', sans-serif;
  color: #5AC5D7;
  font-size: 26px;
  font-weight: 300;
}

/* ________________________________________________ */
.portfolio .VE {
  position: relative;
  text-align: center;
  color: white;
  padding: 4%;
}

.portfolio .vetxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio .vetxt .titl {
  font-family: 'Poppins', sans-serif;
  color: #EE7D56;
  font-size: 26px;
  font-weight: 300;
}

.portfolio .explore {
  width: fit-content;
  margin: 20px 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #181818;
  padding: 0px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  background-color: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
}

.portfolio .explore:hover {
  background-color: rgb(255, 255, 255);
  color: #181818;
}

.portfolio p {
  font-family: 'Poppins', sans-serif;
  font-weight: 30;
  font-size: 9px;
}

.portfolio .uxtxt .titl {
  font-family: 'Poppins', sans-serif;
  color: #EC5E7F;
  font-size: 26px;
  font-weight: 300;
}

/* **************************************   My Journey   ********************************** */
.myjourney {
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.myjourney .heading {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  font-size: 50px;
  font-weight: 400;
  padding-top: 100px;
  margin-left: 100px;
}

/* ___________________________Leanpitch___________________________ */
.myjourney .mg {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  color: white;
}

.myjourney .row1 {
  display: flex;
}

.myjourney .mg .date {
  position: absolute;
  top: 38%;
  left: 44%;
  transform: translate(-50%, -50%);
}

.myjourney .mg .date .year {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 50px;
}

.myjourney .mg .date .mnth {
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: 20px;
}

.myjourney .mg-des {
  position: relative;
  color: white;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  background-image: url(../Assets/Home/MG\ De.png);
}

.myjourney .mg-des .des {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.myjourney .mg-des .des .job {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: white;
}

.myjourney .mg-des .des .job a {
  color: #FF436E;
}

.myjourney .mg-des .des .cmpny {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #FF436E;
}

.myjourney .mg-des .des .jdes {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
}

/* ___________________________ASTI___________________________ */
.myjourney .dm {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  color: white;
}

.myjourney .dm .date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myjourney .dm .date .year {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 50px;
}

.myjourney .dm .date .mnth {
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: 20px;
}

.myjourney .dm-des {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myjourney .dm-des .des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myjourney .dm-des .des .job {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: white;
}

.myjourney .dm-des .des .job a {
  color: #F6C668;
}

.myjourney .dm-des .des .cmpny {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #F6C668;
}

.myjourney .dm-des .des .jdes {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
}

/* ___________________________ Yugti ___________________________ */
.myjourney .ux {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myjourney .ux .date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myjourney .ux .date .year {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 50px;
}

.myjourney .ux .date .mnth {
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: 20px;
}

.myjourney .ux-des {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myjourney .ux-des .des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myjourney .ux-des .des .job {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: white;
}

.myjourney .ux-des .des .job a {
  color: #EE7D56;
}

.myjourney .ux-des .des .cmpny {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #EE7D56;
}

.myjourney .ux-des .des .jdes {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
}

/* ___________________________ Photography ___________________________ */
.myjourney .pg {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myjourney .pg .date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myjourney .pg .date .year {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 50px;
}

.myjourney .pg .date .mnth {
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  font-size: 20px;
}

.myjourney .pg-des {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myjourney .pg-des .des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myjourney .pg-des .des .job {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: white;
}

.myjourney .pg-des .des .job a {
  color: #5AC5D7;
}

.myjourney .pg-des .des .cmpny {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #5AC5D7;
}

.myjourney .pg-des .des .jdes {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
}

/* **************************************   Contact   ********************************** */
.contactme {
  width: 100%;

}

.contactme .cont .stitl {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  font-size: 20px;
  font-weight: 200;
  padding-top: 100px;
  margin-left: 100px;
}

.contactme .cont .mtitl {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  font-size: 50px;
  font-weight: 400;
  margin-left: 100px;
}

.contactme .cont .mycnct {
  font-family: 'Poppins', sans-serif;
  color: #eee;
  font-size: 30px;
  font-weight: 300;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}

.contactme .cont .formbg {
  text-align: center;
  padding: 50px;
}

.contactme .social {
  text-align: center;
}

.contactme .social img {
  padding: 60px;
}

.contactme .social .fa {
  color: #C9C9C9;
  stroke: #C9C9C9 3px;
  transform: scale(3);
  text-decoration: none;
  margin: 60px;
}

/* .contactme .social  .fa-whatsapp
{
  color: #C9C9C9;
} */
.contactme .social .fa-whatsapp:hover {
  color: #26D367;
}

.contactme .social .fa-facebook:hover {
  color: #006EE9;
}

.contactme .social .fa-instagram:hover {
  color: #fa7e1e;
}

.contactme .social .fa-linkedin:hover {
  color: #007AB6;
}

.contactme .social .fa-behance:hover {
  color: white;
}

.contactme .social .fa-youtube:hover {
  color: #d90700;
}

/* **************************************   Footer   ********************************** */
footer {
  color: white;
  display: block;
  text-align: center;
  background-color: black;
  background-image: url(../Assets/Home/);
  font-family: 'Poppins', sans-serif;
}